<h1>Incomes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Mês/Ano</th>
      <th>Quantia</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= "#{income.month}/#{income.year}" %></td>
        <td><%= number_to_currency(income.monthly_income, unit: 'R$ ', separator: ",", delimiter: ".") %></td>
        <td><%= link_to 'Edit', edit_income_path(income) %></td>
        <td><%= link_to 'Destroy', income, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Orçamento', new_income_path, class: 'button' %>