<div class="mx-4">
<%= form_with(model: @goal, url: goals_path, local: true) do |form| %>
  <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% else %>
    <div class="alert"><%= flash[:notice] %></div>
  <% end %>
  <br>
  <div class="col-md-1">
    <%= form.label :fixed_cost, 'Custos Fixos', class:'form-label' %>
    <%= form.number_field :fixed_cost, required: true, class:'form-control' %>
  </div>

  <div class="col-md-1">
    <%= form.label :comfort, 'Conforto', class:'form-label' %>
    <%= form.number_field :comfort, required: true, class:'form-control' %>
  </div>

  <div class="col-md-1">
    <%= form.label :goals, 'Metas', class:'form-label' %>
    <%= form.number_field :goals, required: true, class:'form-control' %>
  </div>

  <div class="col-md-1">
    <%= form.label :pleasures, 'Prazeres', class:'form-label' %>
    <%= form.number_field :pleasures, required: true, class:'form-control' %>
  </div>

  <div class="col-md-1">
    <%= form.label :financial_freedom, 'Liberdade Financeira', class:'form-label' %>
    <%= form.number_field :financial_freedom, required: true, class:'form-control' %>
  </div>

  <div class="col-md-1">
    <%= form.label :knowledge, 'Conhecimento', class:'form-label' %>
    <%= form.number_field :knowledge, required: true, class:'form-control' %>
  </div>

  <div class="mt-3">
    <%= form.submit 'Enviar', class:'btn btn-primary' %>
    <%= link_to 'Voltar ao site', root_path, class:'btn btn-warning' %>
  </div>
<% end %>
</div>