<h1>Minhas metas </h1>


<div class="">
  <table class="table">
    <thead>
      <tr>
        <th>Custos Fixos</th>
        <th>Conforto</th>
        <th>Metas</th>
        <th>Prazeres</th>
        <th>Liberdade Financeira</th>
        <th>Conhecimento</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @goal.fixed_cost %>%</td>
        <td><%= @goal.comfort %>%</td>
        <td><%= @goal.goals %>%</td>
        <td><%= @goal.pleasures %>%</td>
        <td><%= @goal.financial_freedom %>%</td>
        <td><%= @goal.knowledge %>%</td>
      </tr>
  </tbody>
</div>